Werkzeug==3.1.3
blinker==1.9.0
click==8.1.8
Flask==3.1.0
itsdangerous==2.2.0           # for secure cookie handling
Flask-WTF==1.2.2              # for CSRF protection and form handling
python-dotenv==1.0.0          # to load SECRET_KEY and other env vars from a .env file
Flask-SQLAlchemy==3.1.1
email-validator==1.3.1
requests
python-dotenv
flask-migrate
psycopg2==2.9.10
